[Unit]
Description=gunicorn daemon
After=network.target

[Service]
Type=simple
User=takashi
Group=uyunpunion
RuntimeDirectory=gunicorn
WorkingDirectory=/home/takashi/uyunpunion/api
ExecStart=/home/takashi/.local/bin/gunicorn --config /home/takashi/uyunpunion/api/gunicorn.conf.py app:app
ExecReload=/bin/kill -s HUP $MAINPID
KillMode=mixed
TimeoutStopSec=5
PrivateTmp=true
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
