[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pre-commit = "*"
ansible-lint = "*"
ansible = "*"

[dev-packages]

[requires]
python_version = "3.9"

[scripts]
pch = "bash -c 'pre-commit run trailing-whitespace --all-files && pre-commit run end-of-file-fixer --all-files && pre-commit run check-yaml --all-files && pre-commit run check-json --all-files'"
